<div class="container">
<h2>Web Inspired + Jquery</h2>
<p>{{ message }}</p>
<!--  Apps go here -->
		<div class="row">
			<div ng-repeat="x in apps" class="col s12 m6 l4 ">	
				<div ng-click="gotoLink(x.Link)" class="catalog desktop border">
			    <div class="catalog-icon">
			        <i class="medium-large material-icons indigo-text lighten-2">{{x.Icon}}</i>
			    </div>
			    <div class="item">
			    	<h2>
			        <a class="indigo-text lighten-2">{{x.Title}}</a>
				    </h2>
				    <p>{{x.SubTitle}}</p>
				    <p class="links-bar">
			        <a class="link-item indigo-text lighten-4">
			            More...
			        </a>
				    </p>
				    <div class="item-overlay bottom">
				    	<h2>{{x.Title}}</h2>
				    	<p class="desc">{{x.Desc}}</p>
				    </div>
			    </div>
			    
			    <div class="button-container">
		        <a class="button catalog-btn white indigo-text lighten-2" target="_blank" href="{{x.Link}}">
		            Go to App
		        </a>
				  </div>
				</div>
			</div>			
		</div>
</div>