<div class="container">
<h2>Original Design</h2>
<p>{{ message }}</p>
		<!--  Apps go here -->
		<div class="row">
			<div ng-repeat="x in apps" class="col s12 m6 l4 ">
					<div ng-click="gotoLink(x.Link)" class="catalog desktop border">
						<div class="row">
							<div class="col s2">
							<h2>
								<i class="medium-large material-icons cyan-text accent-3">{{x.Icon}}</i>
							</h2>
							</div>
					    <div class="col s10">
					    	<h2 >
					        <a class="cyan-text accent-3">{{x.Title}}</a>
						    </h2>
						    <p>{{x.SubTitle}}</p>
						    <p class="desc">
					        {{x.Desc}}
						    </p>
					    </div>  
						</div>
					</div>
			</div>			
		</div>		
	</div>